.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--background {
        background-color: black;
        height: 70px; 
    }

    &--navbar {
        display: flex;

        li {
            margin: 0 15px;

            a {
                color: $letraHeader;
                font-weight: $letraBold; 
            }
        }
    }
}

.burger {
    display: none;
  }

.letra {
    color: $letraHeader;
    font-family: $letraLato;
} 