.main {
    display: grid;
    justify-content: space-between; 
    flex-wrap: wrap;
    justify-self: center;

    &-mdf {
        display: flex;
        justify-content: center;
    }
}

.main1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column wrap;
    margin: 50px;
}

.main2 {
    display: flex;
    justify-content: center;
}
