@media (max-width: 990px) {
    .card4 {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(auto, 500px);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .card4 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    .card__down {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .map {
        width: 400px;
        height: 300px;
    }

    .letra1 {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .header__content {
        &--navbar {
            display: none;

            &-mobile {
                display: block;
            }
        }
    }
}

@media (max-width: 590px) {
   
    .card1 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .card4 {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .map {
        width: 300px;
        height: 235px;
    }
}

@media (max-width: 390px) {
    .map {
        width: 200px;
        height: 180px;
    }

    .contact__content {
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }

    .header__content {
        
        &--navbar {
            
            &-mobile {
                display: block;
            }
        }
    }
}