@media (max-width: 1010px) {
    .card1 {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(4, 1fr);
        flex-direction: column;
        justify-content: space-around;
    }

    .card4 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    ul {
       font-size: 18px;
    }

    .card1 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        justify-content: space-evenly;
    }

    .card4 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    .card__down {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .map {
        width: 400px;
        height: 300px;
    }

    .letra1 {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    ul {
        font-size: 14px;
    }

    .letra {
        font-size: 18px;
    }
}

@media (max-width: 490px) {
    ul {
        font-size: 10px;
    }

    .letra {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .card4 {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .map {
        width: 300px;
        height: 235px;
    }
}